.brand {
    display: flex;
    align-items: center;;
}

.user-controls {
    display: flex;
    justify-content: space-between;

    & > * {
        width: 4rem;
        height: 4rem;
        background-color: transparent;
        border-radius: 50%;
        padding: .6rem;
        fill: $grey;
        cursor: pointer;

        @include respond(tab-port) {
            width: 3rem;
            height: 3rem;
        }

        @include respond(phone) {
            width: 2rem;
            height: 2rem;
            padding: .2rem;
        }
    }

    & > *:not(:last-child){
        margin-right: 1rem;

        @include respond(tab-port) {
            margin-right: .3rem;
        }
    }

    &__profile {
        background-color: $primary;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 700;

        @include respond(phone) {
            font-size: 1rem;
        }
    }
}

.nav-links {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    padding-left: 1.7rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: $dark;

    & > :nth-child(1) {
        margin-right: 3rem;
    }

    &:hover {
        background-color: rgba($dark-light, .1);
    }

    &:active,
    &:focus {
        background-color: rgba($dark-light, .2);
    }
}